<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <!-- ------header start -->
        <header>
            <div class="header-main">
                <div>
                    <img src="./images/IGDL.png" alt="IGDL" id="logo">
                </div>
                <div class="search-input-field">
                    <form action="">
                        <div>
                            <input type="search" id="search-input">
                            <img src="./images/MagnifyingGlass.png" alt="MagnifyingGlass">
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <!-- ----end header---------- -->

       <!-- ----start not-found part---- -->
        <section>
            <div class="not-found-part">
                <div>
                    <h3 class="oops-title">Oops! We couldn’t find results for your search:</h3>
                    <h4 class="not-found-text">“Lorem Ipsum”</h4>
                    <img src="./images/not-found.png" alt="not-found">
                </div>
            </div>
        </section>
        <!-- ----end not-found part---- -->
</body>
</html>